.sidebar {
  width: 240px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #eaeaea;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo {
  background: #6c63ff;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item {
  text-decoration: none;
  color: #444;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-item.active {
  background: #6c63ff;
  color: white;
}

.menu-item:hover {
  background: #f0f0ff;
}
/* PROFILE CONTAINER */
.sidebar-profile {
  margin-top: auto;
  padding-top: 16px;
  border-top: 1px solid #eee;
}

/* PROFILE CARD */
.profile-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 12px;
  text-decoration: none;
  color: #111;
  transition: background 0.2s ease;
}

.profile-card:hover {
  background: #f4f5ff;
}

/* AVATAR IMAGE */
.profile-avatar-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

/* NAME + ROLE */
.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile-name {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.profile-role {
  font-size: 12px;
  color: #6b7280;
}

/* 3 DOT MENU */
.profile-menu {
  font-size: 18px;
  color: #9ca3af;
}
